body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555555;
  background-color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

@media (min-width: 1200px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-btn {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  color: #303030;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  font-family: inherit;
  -webkit-transition: background-color 200ms linear, color 200ms linear;
  transition: background-color 200ms linear, color 200ms linear;
}

.booking-btn {
  color: #FFFFFF;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
  cursor: pointer;
}

.hero {
  padding: 0;
}
@media screen and (max-width: 767px) {
  .hero {
    background-color: #191C26;
    background-image: url(../images/hero/mobileimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/mobileimg@2x.jpg);
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .hero {
    padding-top: 208px;
    padding-bottom: 209px;
  }
}

.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .hero__social {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__social {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__social {
    width: 100px;
  }
}

.hero__social::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: #303030;
  position: absolute;
  top: 10px;
  left: -80px;
}

.hero__list-item:first-child {
  margin-right: 40px;
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__content {
    background-color: #191C26;
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 120px;
    background-image: url(../images/hero/tabletimg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url(../images/hero/tabletimg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
    background-image: url(../images/hero/desktopimg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url(../images/hero/desktopimg@2x.jpg);
  }
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.hero-link:hover, .hero-link:focus {
  color: #FF6C00;
}

.hero__pre-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  letter-spacing: 0.1em;
}

.hero__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .hero__title {
    font-size: 48px;
    line-height: 1.1666666667;
  }
}

.hero__about {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media (max-width: 480px) {
  .hero__about {
    font-size: 16px;
    line-height: 1.625;
  }
}

.hero__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 120px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .hero__social-wrapper {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hero__social-wrapper {
    width: 100px;
  }
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .about-content-wrap {
    width: 418px;
  }
}
@media screen and (min-width: 768px) {
  .about-content-wrap {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-content-wrap {
    width: 470px;
  }
}

.about__img-wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__img-wrap {
    display: block;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .about__img {
    display: block;
  }
  .about__img:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.about__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.about__pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

.about__title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .about__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.about__pre-text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .about__pre-text {
    font-size: 16px;
    line-height: 1.625;
  }
}

.about__main-text {
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .about__main-text {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about__main-text {
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 768px) {
  .about__main-text {
    margin-bottom: 30px;
  }
}

.header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .header-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo-link {
  margin-right: 64px;
}
@media (min-width: 1200px) {
  .logo-link {
    margin-right: 130px;
  }
}

.logo {
  fill: #fff;
}
@media (min-width: 768px) {
  .logo {
    fill: #303030;
  }
}

.menu-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.icon-burger,
.icon-close {
  fill: #FFFFFF;
}

.icon-close {
  display: none;
  z-index: 100;
}

.menu-btn.is-open .icon-close {
  fill: black;
}

.menu-btn.is-open .icon-burger {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

@media (max-width: 767px) {
  .navigation {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 255px;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 16px;
  }
  .navigation-list-item:last-child {
    margin-right: 37px;
  }
}

.navigation-list-item-link {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.navigation-list-item:hover .navigation-list-item-link, .navigation-list-item:focus .navigation-list-item-link {
  color: #FF6C00;
}
@media (max-width: 767px) {
  .navigation-list-item-link {
    color: #303030;
  }
}
@media (min-width: 768px) {
  .navigation-list-item-link {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .address {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .address {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .services-btn {
    color: rgb(48, 48, 48);
    margin-bottom: 64px;
  }
}

.header-tel-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .header-tel-link {
    color: #303030;
  }
}
@media (min-width: 768px) {
  .header-tel-link {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .header-socials-list {
    display: none;
  }
}

.header-socials-list-item {
  position: relative;
  padding-left: 100px;
}
.header-socials-list-item:first-child::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
}
.header-socials-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.header-social-list-item-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.header-socials-list-item:hover .header-social-list-item-link, .header-socials-list-item:focus .header-social-list-item-link {
  color: #FF6C00;
}

@media (max-width: 767px) {
  .menu-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 337px;
    height: 796px;
    padding-left: 40px;
    padding-top: 118px;
    padding-right: 99px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: opacity 500ms linear, -webkit-transform 250ms linear;
    transition: opacity 500ms linear, -webkit-transform 250ms linear;
    transition: transform 250ms linear, opacity 500ms linear;
    transition: transform 250ms linear, opacity 500ms linear, -webkit-transform 250ms linear;
  }
  .menu-wrapper.is-open {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header-utils {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .header-utils {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services {
  background-image: url(../images/services/mobile.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .services {
    background-image: url(../images/services/tablet.png);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/tablet@2x.png");
  }
}
@media (min-width: 1200px) {
  .services {
    background-image: url(../images/services/desktop.png);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/desktop@2x.png");
  }
}

.services__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.services__pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

.services__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .services__title {
    font-size: 40px;
    line-height: 1.15;
    margin-bottom: 42px;
  }
}

.services__text,
.sevices-second-list__text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media (max-width: 480px) {
  .services__text,
.sevices-second-list__text {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.services__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}
@media screen and (max-width: 1199px) {
  .services__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 40px 30px 20px 30px;
  }
}
@media screen and (min-width: 1199px) {
  .services__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .services__wrap {
    max-width: 690px;
  }
}

.services-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.services__list-item,
.services-second-list__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .services-second-list__list-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .services-price-list {
    width: 570px;
    margin-right: 30px;
    padding: 30px 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .services-second-list {
    width: 570px;
    background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    padding: 30px 20px;
  }
}

@media screen and (min-width: 1199px) {
  .advantages__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.advantages-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  color: #303030;
}

.advantages__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.advantages__pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

.advantages__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.advantages__after-title {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (max-width: 1199px) {
  .advantages__after-title {
    margin-bottom: 44px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 380px) {
  .advantages__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    margin-right: 130px;
  }
}

.advantages__item {
  background-color: #F7F7F7;
  height: 133px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 380px) and (max-width: 767px) {
  .advantages__item {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 380px) {
  .advantages__item {
    width: 193px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 170px;
  }
}

@media (min-width: 380px) and (max-width: 768px) {
  .advantages__item:nth-child(even) {
    margin-top: 30px;
  }
}

@media (min-width: 380px) and (max-width: 768px) {
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
}

.advantages__item--first {
  padding: 20px 35px 20px 35px;
}

.advantages__item--second {
  padding: 20px 36px;
}

.advantages__item--third {
  padding: 20px 70px;
}

.advantages__item--fourth {
  padding: 20px 32px;
}

.barbers {
  background-color: #F7F7F7;
}

.barbers__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
  text-align: left;
}

.barbers__pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

.barbers__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  text-align: left;
  color: #303030;
  margin-bottom: 44px;
}

.barbers__name {
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.barbers__position {
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: #FF6C00;
  margin-bottom: 30px;
  text-align: center;
}

.social-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.social-icon-list-item:not(:last-child) {
  margin-right: 10px;
}

.icon {
  -webkit-transition: fill 200ms linear;
  transition: fill 200ms linear;
}
.social-icon-list-item:hover .icon {
  fill: #FF6C00;
}

.social-icon-list-link:focus {
  fill: #FF6C00;
}

@media screen and (min-width: 768px) {
  .barbers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .barbers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .barbers__list-item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.gallery__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 44px;
}

.gallery__pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .gallery-list__item {
    max-width: 418px;
  }
  .gallery-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts {
  background-color: #191C26;
  background-image: url(../images/contacts/mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 31px;
  padding-right: 31px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/mobile@2x.png);
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    padding-left: 31px;
  }
}
@media (min-width: 768px) {
  .contacts {
    background-image: url(../images/contacts/tablet.png);
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/tablet@2x.png);
  }
}
@media (min-width: 1200px) {
  .contacts {
    background-image: url(../images/contacts/desktop.png);
    width: 50%;
    padding-left: 100px;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/desktop@2x.png);
  }
}

.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contacts-title {
    text-align: center;
  }
}

.contacts-address__text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
.contact__item:hover .contacts-address__text, .contact__item:focus .contacts-address__text {
  color: #FF6C00;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-address__text {
    width: 330px;
    margin-right: 30px;
  }
}

.contacts-address--text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts__schedule {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contacts__working-hours {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 70px;
  }
}

.contacts-address__icon {
  margin-right: 16px;
  fill: #9da4bd;
  -webkit-transition: fill 200ms linear;
  transition: fill 200ms linear;
}
.contact__item:hover .contacts-address__icon {
  fill: #FF6C00;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact__item:last-child {
  margin-bottom: 53px;
}

.contacts__schedule::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-booking {
  background-color: #191C26;
}

.contacts-booking__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .contacts-booking__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.booking {
  background-color: #191C26;
}
@media screen and (min-width: 768px) {
  .booking {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .booking {
    padding-left: 215px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .booking {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.booking-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 44px;
}

.booking-form__label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.booking-form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .booking-form__input-first {
    margin-right: 30px;
  }
}

.booking-form__input {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  height: 24px;
  padding: 8px 0;
  margin-bottom: 44px;
  float: left;
}
@media screen and (max-width: 767px) {
  .booking-form__input {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .booking-form__input {
    display: inline-block;
    width: calc((100% - 30px) / 2);
  }
}

.booking-form__input::-webkit-input-placeholder, .booking-form__textarea::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
}

.booking-form__input::-moz-placeholder, .booking-form__textarea::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
}

.booking-form__input:-ms-input-placeholder, .booking-form__textarea:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
}

.booking-form__input::-ms-input-placeholder, .booking-form__textarea::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
}

.booking-form__input::placeholder,
.booking-form__textarea::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
}

.booking-form__input:focus::-webkit-input-placeholder, .booking-form__textarea:focus::-webkit-input-placeholder {
  color: #FFFFFF;
}

.booking-form__input:focus::-moz-placeholder, .booking-form__textarea:focus::-moz-placeholder {
  color: #FFFFFF;
}

.booking-form__input:focus:-ms-input-placeholder, .booking-form__textarea:focus:-ms-input-placeholder {
  color: #FFFFFF;
}

.booking-form__input:focus::-ms-input-placeholder, .booking-form__textarea:focus::-ms-input-placeholder {
  color: #FFFFFF;
}

.booking-form__input:focus::placeholder,
.booking-form__textarea:focus::placeholder {
  color: #FFFFFF;
}

.booking-form__input:focus,
.booking-form__textarea:focus {
  border-bottom: 1px solid #FFFFFF;
  outline: transparent;
}

.booking-form__textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  height: 78px;
  resize: none;
  margin-bottom: 44px;
}

@media screen and (max-width: 767px) {
  .booking-form__btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer {
  height: 127px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .footer__flex {
    padding-left: 31px;
    padding-right: 31px;
  }
}
@media screen and (min-width: 768px) {
  .footer__flex {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    padding-left: 215px;
    padding-right: 215px;
  }
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-item:first-child {
  margin-right: 40px;
}
@media screen and (min-width: 768px) {
  .footer-item:first-child::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 60px;
    background-color: #555555;
    margin-right: 40px;
    vertical-align: middle;
  }
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-link:hover, .footer-link:focus {
  color: #FF6C00;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  fill: #9da4bd;
  margin-right: 6px;
}

.footer__copyright-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}/*# sourceMappingURL=main.css.map */