body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555555;
  background-color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 418px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 690px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

@media (min-width: 1200px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 480px) {
  section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-btn {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  color: #303030;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  font-family: inherit;
}

.booking-btn {
  color: #FFFFFF;
}

.hero {
  padding: 0;
}

.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .hero__social {
    width: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__social {
    width: 100px;
  }
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(../images/hero/mobileimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__content {
    background-image: url(../images/hero/mobileimg@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .hero__content {
    padding-top: 208px;
    padding-bottom: 209px;
    padding-left: 31px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 120px;
    background-image: url(../images/hero/tabletimg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url(../images/hero/tabletimg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
    background-image: url(../images/hero/desktopimg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url(../images/hero/desktopimg@2x.jpg);
  }
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-link:hover, .hero-link:focus {
  color: #FF6C00;
}

.hero__pre-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  letter-spacing: 0.1em;
}

.hero__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .hero__title {
    font-size: 48px;
    line-height: 1.1666666667;
  }
}

.hero__about {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media (max-width: 480px) {
  .hero__about {
    font-size: 16px;
    line-height: 1.625;
  }
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-content-wrap {
  width: 470px;
}

.about__img {
  margin-right: 30px;
}

.about__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.about__pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #555555;
  margin-right: 20px;
  vertical-align: middle;
}

.about__title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .about__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.about__pre-text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .about__pre-text {
    font-size: 16px;
    line-height: 1.625;
  }
}

.about__main-text {
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  margin-bottom: 42px;
}

.header {
  height: 100%;
  background-color: rgb(116, 125, 125);
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 100px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-right: 40px;
}

.services {
  background-image: url(../images/services/mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .services {
    background-image: url(../images/services/tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/tablete@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .services {
    background-image: url(../images/services/desktop.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/desktop@2x.jpg");
  }
}

.services__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.services__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.services__text,
.sevices-second-list__text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media (max-width: 480px) {
  .services__text,
.sevices-second-list__text {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.advantages-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  color: #303030;
}

.advantages__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.advantages__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantages__after-title {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #555555;
}

.barbers__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.barbers__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.barbers__name {
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers__position {
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.gallery__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.contacts {
  background-image: url(../images/contacts/mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/mobile@2x.jpg);
  }
}
@media (min-width: 768px) {
  .contacts {
    background-image: url(../images/contacts/tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/tablet@2x.jpg);
  }
}
@media (min-width: 768px) {
  .contacts {
    background-image: url(../images/contacts/desktop.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/desktop@2x.jpg);
  }
}

.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.contacts__link {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact__link--first {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts__schedule {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contacts__working-hours {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.booking-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.booking-form__label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */