
.advantages__flex-container{
  @media screen and ( min-width:1199px) {
    display: flex;
    flex-direction: row-reverse;

  }
}


.advantages-number{
  
    font-weight: 700;
    
    font-size: 42px;
    
    line-height: calc(57 / 42);
    
    letter-spacing: 0.05em;
    
    color: #303030;
    
    }
    
     
    
    .advantages-text{
    
     
    
      font-weight: 600;
    
      font-size: 11px;
    
      line-height: calc( 15 / 11);
    
      color: #303030;
    
    }
    
     
    
    .advantages__pre-title{
    
     
    
    font-weight: 600;
    
    font-size: 11px;
    
    line-height: calc(15 / 11);
    
    text-transform: uppercase;
    
    color: #303030;
    margin-bottom: 20px;
    
    }

    .advantages__pre-title::before{
      content:'';
      display: inline-block;
      height: 1px;
      width: 60px;
      background-color: $main-text-color;
      margin-right: 20px;
      vertical-align: middle;
      } 
    
     
    
    .advantages__title{
    
     
    
      font-family: 'Raleway';
    
     
    
    font-weight: 700;
    
    font-size: 42px;
    
    line-height: calc(49 / 42);
    
    letter-spacing: 0.05em;
    
    color: #303030;
    margin-bottom: 20px;
    
    }
    
     
    
    .advantages__after-title{
    
      font-size: 18px;
    
    line-height: calc(30 / 18);
    
    letter-spacing: 0.02em;
    
    color: #555555;

    @media screen and ( max-width:1199px) {
      
      margin-bottom: 44px;
    }
    
    }



    // list

    .advantages__list{
      display: flex;
      flex-wrap: wrap;
      

      @media (max-width:379px) {
        flex-wrap: nowrap;
        flex-direction: column;
  align-items: center;  
      }

      @media screen and (min-width:768px) {
        justify-content: flex-end;
        width: 450px;
        margin-left: auto;
      }

@media screen and ( min-width:1200px) {
  margin-right: 130px;
}

    }

    .advantages__item{
      background-color: #F7F7F7;
       height: 133px;
      text-align: center;
      display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 193px;

@media screen and (max-width:379px) {
        
  width: 193px;
  &:not(:last-child){
   margin-bottom: 20px;
  }

  
 }

      @media screen and (min-width:380px) and (max-width:767px) {
        max-width: calc((100% - 30px) / 2);

      }
   

      @media screen and (min-width:1200px) {
        width: 170px;
      }
    }

     .advantages__item:nth-child(even){

      @media (min-width:380px)  {
        
        margin-top: 30px;
      }
     }

     .advantages__item:nth-child(odd){
      @media (min-width:380px) {
        
        margin-right: 30px;
      }
     }
    
    .advantages__item--first{
padding: 20px 35px 20px 35px ;
    }
    .advantages__item--second{
      padding: 20px 36px;
    }
    .advantages__item--third{
      padding: 20px 70px;
    }
    .advantages__item--fourth{
      padding: 20px 32px ;
     
    }