
.advantages__flex-container{
  @media screen and ( min-width:1199px) {
    display: flex;
    flex-direction: row-reverse;

  }
}


.advantages-number{
  
    font-weight: 700;
    
    font-size: 42px;
    
    line-height: calc(57 / 42);
    
    letter-spacing: 0.05em;
    
    color: #303030;
    
    }
    
     
    
    .advantages-text{
    
     
    
      font-weight: 600;
    
      font-size: 11px;
    
      line-height: calc( 15 / 11);
    
      color: #303030;
    
    }
    
     
    
    .advantages__pre-title{
    
     
    
    font-weight: 600;
    
    font-size: 11px;
    
    line-height: calc(15 / 11);
    
    text-transform: uppercase;
    
    color: #303030;
    margin-bottom: 20px;
    
    }

    .advantages__pre-title::before{
      content:'';
      display: inline-block;
      height: 1px;
      width: 60px;
      background-color: $main-text-color;
      margin-right: 20px;
      vertical-align: middle;
      } 
    
     
    
    .advantages__title{
    
     
    
      font-family: 'Raleway';
    
     
    
    font-weight: 700;
    
    font-size: 42px;
    
    line-height: calc(49 / 42);
    
    letter-spacing: 0.05em;
    
    color: #303030;
    margin-bottom: 20px;
    
    }
    
     
    
    .advantages__after-title{
    
      font-size: 18px;
    
    line-height: calc(30 / 18);
    
    letter-spacing: 0.02em;
    
    color: #555555;

    @media screen and ( max-width:1199px) {
      
      margin-bottom: 44px;
    }
    
    }



    // list

    .advantages__list{
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width:768px) {
        justify-content: flex-end;
      }

@media screen and ( min-width:1200px) {
  margin-right: 130px;
}

    }

    .advantages-item{
      background-color: #F7F7F7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 133px;
      @media screen and (max-width:767px) {
        width: 193px;
      }
      @media screen and (min-width:768px) {
        width: 211px;
       
       
      }

      @media screen and (min-width:1200px) {
        width: 170px;
      }
    }

     .advantages-item:nth-child(even){
       margin-top: 30px;
     }

     .advantages-item:nth-child(odd){
       margin-right: 30px;
     }
    
    