
 .contacts-booking{

background-color: #191C26;




 }
 .contacts-booking__flex{
display: flex;
    @media screen and (max-width:1199px) {
        flex-direction: column;
    }
  


}

.booking{
    background-color: #191C26;


     @media screen and (min-width:768px) {
        padding-left: 39px;
        padding-right: 39px;
     }

     
     @media screen and ( min-width:1200px) {
        padding-left: 215px;
   padding-right: 30px;
       
     }

     @media (max-width:767px) {
        padding-left: 31px;
        padding-right: 31px;
        
     }
}

.booking-title{
  
   
  
    font-family: 'Raleway';
    
    font-weight: 700;
    
    font-size: 42px;
    
    line-height: calc(49 / 42);
    
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
    margin-bottom: 44px;
    
    }
    
     
    
    .booking-form__label{
    
     
    
    font-weight: 600;
    
    font-size: 11px;
    
    line-height: calc(15 / 11);
    
    letter-spacing: 0.1em;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    }
    
     

    // booking form

    .booking-form{
        width: 100%;
    }
    .booking-form__input-first{
        @media screen and (min-width:768px) {
            margin-right: 30px;
        }
    }

    .booking-form__input{
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);;
        background-color: transparent;
        height: 24px;
        padding: 8px 0; 
        margin-bottom: 44px;
        float: left;



        @media screen and (max-width:767px) {
            display: block;
            width: 100%;
        }

        @media screen and (min-width:768px) {
             display: inline-block;
             width: calc((100% - 30px) / 2);

        }
        // @media screen and (min-width:1200px) {
        //     width: 270px;
          
        // }
    }

 

    .booking-form__input::placeholder,
    .booking-form__textarea::placeholder{
        font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: calc(15/ 11);
letter-spacing: 0.1em;



    }
    .booking-form__input:focus::placeholder,
    .booking-form__textarea:focus::placeholder{
        color: $white-color;
    }

    .booking-form__input:focus,
    .booking-form__textarea:focus{
        border-bottom: 1px solid $white-color;
        outline: transparent;
    }

    .booking-form__textarea{
        width: 100%;
       border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);;
        background-color: transparent;
        height: 78px;
        resize: none;
        margin-bottom: 44px;
    }

    .booking-form__btn{
        @media screen and (max-width:767px) {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }