.header{
    
        padding: 32px 0;
        position: absolute;
        padding-right: 20px;
         width: 100%;
        

}

.header__flex{

    @media screen and (min-width:1200px) {
        
        display: flex;
        align-items: center;
    }
 
  
}

.logo{
display: inline-block;



    @media screen and (min-width:1200px) {
        
        margin-right: 120px;
    }
    @media (min-width:768px) {
        margin-right: 60px;
    }
}


.nav{
    display: flex;
}

.nav__item:not(:last-child){
    @media (min-width:1200px) {
        
        margin-right: 30px;
    }
    @media (min-width:768px) {
        margin-right: 16px;
    }
}


.logo-icon{
    transition: fill 200ms linear;
}

.logo-icon:hover,
.logo-icon:focus{
    fill: $accent-color;
}



.nav-link{

font-weight: 600;
font-size: 12px;
line-height: calc(16 / 12);
letter-spacing: 0.1em;

color: $white-color;
transition: color 200ms linear;

.nav__item:hover &
{
    color: $accent-color;
}

&:focus{
    color: $accent-color;
}

}

.header__block{

    @media (min-width:1200px) {
        display: flex;
     align-items: center;
    margin-left: auto;   
    }
  
  
}

.header__phone{
font-weight: 600;
font-size: 12px;
line-height: calc(16 / 12);
letter-spacing: 0.1em;
color: $white-color;
margin-right: 40px;
transition: color 200ms linear;

&:hover,
&:focus{
    color: $accent-color;
}
}