
.hero{
    padding: 0;


    @media screen and (max-width:767px) {
        background-color: #191C26;
        background-image:url(../images/hero/mobileimg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
           background-image: url(../images/hero/mobileimg@2x.jpg);;
        }
        
        
            @media screen and (max-width:767px) {
                padding-top: 208px;
                padding-bottom: 209px;
           
        
            }
    }
}


.hero__flex{
    display: flex;
   position: relative;
}

.hero__social{



@media screen and (max-width:767px) {
    display: none;
}
    @media screen and (min-width:768px) {
      
        transform-origin: left;
        transform: rotate(-90deg);
display: flex;
        position: absolute;
        left: 27px;
       
     
    }

    @media screen and (min-width:1200px) {
        width: 100px;
       

      
     
    }
    

 
}

.hero__social::before{
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background: #303030;
    position: absolute;
    top: 10px;
    left: -80px;

}


.hero__list-item:first-child{
margin-right: 40px;




}





.hero__content{
    flex-grow: 1;

    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    
        @media screen and (min-width:768px) {   
        background-color: #191C26;
            padding-top: 272px;
            padding-bottom: 237px;
            padding-left: 120px;
            background-image: url(../images/hero/tabletimg.jpg);
    
            @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
       background-image: url(../images/hero/tabletimg@2x.jpg);
    }
        }
    
        @media screen and (min-width:1200px) {
            padding-top: 272px;
            padding-bottom: 237px;
            padding-left: 100px;
            background-image: url(../images/hero/desktopimg.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
               background-image: url(../images/hero/desktopimg@2x.jpg);
            }
        }

}

.hero-link{

font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.2em;
color: $title-color;
transition:color 250ms linear;

&:hover, &:focus{
    color: $accent-color;
}

}


.hero__pre-title{
    
font-family: 'Open Sans';
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);

letter-spacing: 0.1em;


}

.hero__title{
    
font-family: 'Raleway';
font-weight: 700;
font-size: 72px;
line-height: calc(85 / 72);
letter-spacing: 0.05em;
color: $white-color;

@media (max-width:1199px) {
font-size: 48px;
line-height: calc(56 / 48);

}



}

.hero__about{

font-size: 18px;
line-height: calc(30 / 18);
letter-spacing: 0.02em;
color: $secondary-text-color;


@media (max-width:480px) {

    font-size: 16px;
line-height: calc(26 / 16);

}
}



.hero__social-wrapper{
    display: flex;
    align-items: flex-end;
    width: 120px;
    
    padding-bottom: 40px;
    
    @media (max-width:767px) {
        display: none;
    }

    @media (min-width:1200px) {
        width: 100px;
    }
   
}

