
// Palitra

$main-text-color:#555555;
$secondary-text-color:#9DA4BD;
$accent-color:#FF6C00;
$title-color:#303030;
$white-color:#FFFFFF;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:$main-text-color;
    background-color: $white-color;
}


    
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width:480px) {
    width: 448px;
  }
  @media screen and (min-width:768px) {
    width: 720px;
  }
  @media screen and (min-width:1200px) {
    width: 1200px;
  }
}
    
    h1,
    
    h2,
    
    h3,
    
    h4,
    
    h5,
    
    h6,
    
    p,
    
    ul {
    
      margin-top: 0;
    
      margin-bottom: 0;
    
    }
    
    ul {
    
      padding-left: 0;
    
      padding-right: 0;
    
      list-style: none;
    
    }
    
    a {
    
      text-decoration: none;
    
    }
    
     
    
    img{
    
      max-width: 100%;
    
      display: block;
    
      height: auto;
    
    }
    
     
    
    section {
    
     @media (min-width:1200px) {
    
      padding-top:120px;
    
      padding-bottom:120px;
    
     }
    
     @media screen and (min-width:768px) and (max-width:1199px) {
    
      padding-top:100px;
    
      padding-bottom:100px;
    
     }
    
      @media (max-width:767px) {
    
        padding-top:84px;
    
        padding-bottom:84px;
    
      }
    
     
    
    }
    
    
    
    
    
    .visually-hidden {
    
      position: absolute;
    
      width: 1px;
    
      height: 1px;
    
      margin: -1px;
    
      border: 0;
    
      padding: 0;
    
      clip: rect(0 0 0 0);
    
      overflow: hidden;
    
    }


    .main-btn{
        display: block;
        width: 160px;
        height: 40px;
        border:1px solid $accent-color;
        border-radius: 25px;
color: $title-color;
font-weight: 600;
font-size: 12px;
line-height: calc(16 / 12);
letter-spacing: 0.09em;
text-transform: uppercase;
background-color: transparent;
font-family: inherit;
    }


    .booking-btn{
        color: $white-color;
      }







